<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Linux</td>
      <td>724</td>
    </tr>
    <tr>
      <td>Docker</td>
      <td>575</td>
    </tr>
    <tr>
      <td>Kubernetes</td>
      <td>473</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>344</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>321</td>
    </tr>
    <tr>
      <td>Ansible</td>
      <td>308</td>
    </tr>
    <tr>
      <td>CI/CD</td>
      <td>306</td>
    </tr>
    <tr>
      <td>Bash</td>
      <td>294</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>275</td>
    </tr>
    <tr>
      <td>DevOps</td>
      <td>208</td>
    </tr>
    <tr>
      <td>Jenkins</td>
      <td>199</td>
    </tr>
    <tr>
      <td>Grafana</td>
      <td>144</td>
    </tr>
    <tr>
      <td>Nginx</td>
      <td>141</td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>132</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>118</td>
    </tr>
    <tr>
      <td>Zabbix</td>
      <td>109</td>
    </tr>
    <tr>
      <td>Gitlab</td>
      <td>109</td>
    </tr>
    <tr>
      <td>Prometheus</td>
      <td>108</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>98</td>
    </tr>
    <tr>
      <td>ELK</td>
      <td>86</td>
    </tr>
  </tbody>
</table>