<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Linux</td>
      <td>388</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>213</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>206</td>
    </tr>
    <tr>
      <td>Bash</td>
      <td>150</td>
    </tr>
    <tr>
      <td>Docker</td>
      <td>147</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>142</td>
    </tr>
    <tr>
      <td>Nginx</td>
      <td>116</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>96</td>
    </tr>
    <tr>
      <td>CI/CD</td>
      <td>95</td>
    </tr>
    <tr>
      <td>Kubernetes</td>
      <td>94</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>91</td>
    </tr>
    <tr>
      <td>Zabbix</td>
      <td>75</td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>71</td>
    </tr>
    <tr>
      <td>DevOps</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Ansible</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Jenkins</td>
      <td>47</td>
    </tr>
    <tr>
      <td>TCP/IP</td>
      <td>44</td>
    </tr>
    <tr>
      <td>CentOS</td>
      <td>44</td>
    </tr>
    <tr>
      <td>MongoDB</td>
      <td>42</td>
    </tr>
  </tbody>
</table>