<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Linux</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Nginx</td>
      <td>4</td>
    </tr>
    <tr>
      <td>DevOps</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Docker</td>
      <td>2</td>
    </tr>
    <tr>
      <td>TCP/IP</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Bash</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Puppet</td>
      <td>2</td>
    </tr>
    <tr>
      <td>AWS</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Hadoop</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Cassandra</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>2</td>
    </tr>
    <tr>
      <td>JVM</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Tomcat</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Apache</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Hardware</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Настройка DNS</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Jetty</td>
      <td>2</td>
    </tr>
    <tr>
      <td>load balancing</td>
      <td>2</td>
    </tr>
    <tr>
      <td>firewalls</td>
      <td>2</td>
    </tr>
  </tbody>
</table>