<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Linux</td>
      <td>714</td>
    </tr>
    <tr>
      <td>Docker</td>
      <td>395</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>378</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>301</td>
    </tr>
    <tr>
      <td>Kubernetes</td>
      <td>293</td>
    </tr>
    <tr>
      <td>Bash</td>
      <td>220</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>219</td>
    </tr>
    <tr>
      <td>CI/CD</td>
      <td>195</td>
    </tr>
    <tr>
      <td>Nginx</td>
      <td>170</td>
    </tr>
    <tr>
      <td>Ansible</td>
      <td>134</td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>134</td>
    </tr>
    <tr>
      <td>Jenkins</td>
      <td>132</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>131</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>130</td>
    </tr>
    <tr>
      <td>Zabbix</td>
      <td>117</td>
    </tr>
    <tr>
      <td>DevOps</td>
      <td>107</td>
    </tr>
    <tr>
      <td>Grafana</td>
      <td>79</td>
    </tr>
    <tr>
      <td>Prometheus</td>
      <td>69</td>
    </tr>
    <tr>
      <td>CentOS</td>
      <td>67</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>67</td>
    </tr>
  </tbody>
</table>