<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/last-vacancies-styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/menu_styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer-styles.css' %}" rel="stylesheet">
    <title>Последние вакансии</title>
</head>
  <body class="page">
    <header class="page-header">
      <div class="services">
        <div class="services-content">
          <p class="caption">Тема</p>
          <ul class="theme-switcher">
            <li>
              <button class="theme-button-dark" type="button"></button>
            </li>
            <li>
              <button class="theme-button-light active" type="button"></button>
            </li>
          </ul>
          <p class="caption">Шрифт</p>
          <ul class="fonts">
            <li>
              <button class="font-button-sans-serif active" type="button">А</button>
            </li>
            <li>
              <button class="font-button-serif" type="button">А</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="title">
          <p class="profession">DevOps-инженер</p>
      </div>
      {% include 'menu.html' %}
    </header>
    <section class="hero">
    <h1>Последние вакансии</h1>
    <ul>
        {% for vacancy in vacancies %}
            <li>
                <strong>{{ vacancy.title }}</strong>
                <br>Description: {{ vacancy.description }}<br>
                Skills: {{ vacancy.skills }}<br>
                Company: {{ vacancy.company }}<br>
                Salary: {{ vacancy.salary }}<br>
                Region: {{ vacancy.region }}<br>
                Publication Date: {{ vacancy.publication_date }}
            </li>
        {% endfor %}
    </ul>
    </section>
{% include 'footer.html' %}
</body>
</html>