<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Город</th>
      <th>Средняя зарплата</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Жолква</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Дубляны</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Жидачов</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Винники</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Добромиль</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Глиняны</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Золочев (Львовская область)</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Моршин</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Виноградное (Калмыкия)</td>
      <td>402733</td>
    </tr>
    <tr>
      <td>Красноград</td>
      <td>282080</td>
    </tr>
    <tr>
      <td>Старобельск</td>
      <td>279840</td>
    </tr>
    <tr>
      <td>Германия</td>
      <td>276285</td>
    </tr>
    <tr>
      <td>Япония</td>
      <td>262980</td>
    </tr>
    <tr>
      <td>Алат (Узбекистан)</td>
      <td>250701</td>
    </tr>
    <tr>
      <td>Городок (Львовская область)</td>
      <td>243102</td>
    </tr>
    <tr>
      <td>Швеция</td>
      <td>241231</td>
    </tr>
    <tr>
      <td>Эльбрус (Кабардино-Балкария)</td>
      <td>238750</td>
    </tr>
    <tr>
      <td>Черногория</td>
      <td>238145</td>
    </tr>
    <tr>
      <td>Липовец</td>
      <td>237219</td>
    </tr>
    <tr>
      <td>Финляндия</td>
      <td>234382</td>
    </tr>
  </tbody>
</table>