{% load static %}
    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
           <label for="nav-toggle" class="nav-toggle" onclick></label>
        <p class="logo">
          <img src="img/logo.svg" width="64" height="68" alt="Логотип проекта">
        </p>
        <ul class="site-navigation">
          <li class="site-navigation-item">
            <a href="/">Главная</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'Востребованность' %}">Востребованность</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'География' %}">География</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'Навыки' %}">Навыки</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'Последние вакансии' %}">Последние вакансии</a>
          </li>
        </ul>
        <a class="signin" href="#">
          <img src="{% static 'img/user.svg' %}" width="16" height="18" alt="Кабинет пользователя">
        </a>
    </nav>