{% load static %}
    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
           <label for="nav-toggle" class="nav-toggle" onclick></label>
        <p class="logo">
          <img src="{% static 'img/logo.svg' %}" width="100" height="100" alt="Логотип проекта">
        </p>
        <a class="signin" href="{% url 'user_profile' %}">
            <img src="{% static 'img/user.svg' %}" width="16" height="18" alt="Кабинет пользователя">
        </a>
        <ul class="site-navigation">
            {% if user.is_staff or user.is_superuser %}
                <li class="site-navigation-item">
                    <a href="{% url 'admin' %}">Админка</a>
                </li>
            {% endif %}
          <li class="site-navigation-item">
            <a href="{% url 'home' %}">Главная</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'Востребованность' %}">Востребованность</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'География' %}">География</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'Навыки' %}">Навыки</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'Последние вакансии' %}">Последние вакансии</a>
          </li>
          <li class="site-navigation-item">
              <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <a href="{% url 'logout' %}">Выход</a>
            </form>
          </li>
        </ul>
    </nav>