<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/skills-styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/menu_styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/footer-styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/table-styles.css'%}" rel="stylesheet">
    <title>Devops-инженер, навыки</title>
  </head>
  <body class="page">
    <header class="page-header">
      <div class="services">
        <div class="services-content">
          <p class="caption">Тема</p>
          <ul class="theme-switcher">
            <li>
              <button class="theme-button-dark" type="button"></button>
            </li>
            <li>
              <button class="theme-button-light active" type="button"></button>
            </li>
          </ul>
          <p class="caption">Шрифт</p>
          <ul class="fonts">
            <li>
              <button class="font-button-sans-serif active" type="button">А</button>
            </li>
            <li>
              <button class="font-button-serif" type="button">А</button>
            </li>
          </ul>
            <p class="profession">DevOps-инженер</p>
        </div>
      </div>
      {% include 'menu.html' %}
    </header>
    <main class="main-content">
        <h1>ТОП-20 навыков по годам</h1>
      <section class="hero">
        <h1>2015 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2015.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2015.html' %}
          </div>
        <h1>2016 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2016.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2016.html' %}
          </div>
        <h1>2017 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2017.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2017.html' %}
          </div>
        <h1>2018 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2018.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2018.html' %}
          </div>
        <h1>2019 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2019.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2019.html' %}
          </div>
        <h1>2020 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2020.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2020.html' %}
          </div>
        <h1>2021 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2021.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2021.html' %}
          </div>
        <h1>2022 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2022.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2022.html' %}
          </div>
        <h1>2023 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_top_20_by_2023.png' %}" width="840" height="680" alt="График динамики уровня зарплат по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/top_20_by_2023.html' %}
          </div>
      </section>
        <h1>ТОП-20 навыков по годам для выбранной профессии</h1>
      <section class="prof-skills">
        <h1>2016 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2016.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2016.html' %}
          </div>
          <h1>2017 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2017.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2017.html' %}
          </div>
          <h1>2018 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2018.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2018.html' %}
          </div>
          <h1>2019 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2019.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2019.html' %}
          </div>
          <h1>2020 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2020.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2020.html' %}
          </div>
          <h1>2021 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2021.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2021.html' %}
          </div>
          <h1>2022 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2022.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2022.html' %}
          </div>
          <h1>2023 год</h1>
          <div class="graph">
              <img src="{% static 'img/skills/graph_prof_top_20_by_2023.png' %}" width="840" height="680" alt="График долей вакансий по городам">
          </div>
          <div class="table">
            {% include 'skills/tables/prof_top_20_by_2023.html' %}
          </div>
      </section>
    </main>
  {% include 'footer.html' %}
  <script src="{% static 'scripts/fonts.js'%}"></script>
  <script src="{% static 'scripts/themes.js'%}"></script>
</body>
</html>