<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/skills-styles1.css'%}" rel="stylesheet">
    <link href="{% static 'css/menu_styles1.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer-styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/table-styles1.css'%}" rel="stylesheet">
    <title>Devops-инженер, навыки</title>
  </head>
  <body class="page">
    <header class="page-header">
      <div class="services">
        <div class="services-content">
          <p class="caption">Тема</p>
          <ul class="theme-switcher">
            <li>
              <button class="theme-button-dark" type="button"></button>
            </li>
            <li>
              <button class="theme-button-light active" type="button"></button>
            </li>
          </ul>
          <p class="caption">Шрифт</p>
          <ul class="fonts">
            <li>
              <button class="font-button-sans-serif active" type="button">А</button>
            </li>
            <li>
              <button class="font-button-serif" type="button">А</button>
            </li>
          </ul>
            <p class="profession">DevOps-инженер</p>
        </div>
      </div>
      {% include 'menu.html' %}
    </header>
    <main class="main-content">
        <h1>ТОП-20 навыков по годам</h1>
      <section class="hero">
          {% for pop in skills %}
        <h1>{{pop.title}}</h1>
          <div class="graph">
              <img src="{{pop.image.url}}" width="840" height="680" alt="">
          </div>
          <div class="table">
            {{ pop.display_text_file|safe }}
          </div>
          {% endfor %}
      </section>
        <h1>ТОП-20 навыков по годам для выбранной профессии</h1>
      <section class="prof-skills">
          {% for pop1 in profskills %}
        <h1>{{pop1.title}}</h1>
          <div class="graph">
              <img src="{{pop1.image.url}}" width="840" height="680" alt="">
          </div>
          <div class="table">
            {{ pop1.display_text_file|safe }}
          </div>
          {% endfor %}
      </section>
    </main>
  {% include 'footer.html' %}
  <script src="{% static 'scripts/fonts.js'%}"></script>
  <script src="{% static 'scripts/themes.js'%}"></script>
</body>
</html>